# API URLs
NEXT_PUBLIC_AGENT_API_URL=http://localhost:8000
NEXT_PUBLIC_WEB3_API_URL=http://localhost:8001

# Blockchain (zkSYS Tanenbaum Testnet)
NEXT_PUBLIC_RPC_URL=https://rpc-zk.tanenbaum.io
NEXT_PUBLIC_CHAIN_ID=57057
NEXT_PUBLIC_EXPLORER_URL=https://explorer-zk.tanenbaum.io

# Smart Contract Addresses (zkSYS Tanenbaum Testnet)
NEXT_PUBLIC_CONTRACT_EVIDENCE_REGISTRY=0x1A9eB1a4C261AE793e21101a3E5c14003dcF4dEb
NEXT_PUBLIC_CONTRACT_CASE_MANAGER=0x3576cb05B2c4094e8f97639892D235044d7476a1
NEXT_PUBLIC_CONTRACT_DID_REGISTRY=0x8481c85e54f50C676f0fc37f90848030c3B12bB9
NEXT_PUBLIC_CONTRACT_TOKEN=0x622AA147eD0238840ceb215941D5E8CD997896F0
